.header {
  padding: 60px;
  margin-top: 80px;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(45deg, $red 0%, $orange 100%);
  color: $white;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  transition: all 200ms ease-in-out;
  &:hover {
    text-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
    filter: hue-rotate(-15deg);
  }
}
