html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

b {
  font-weight: 900;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
  transition: all;
  transition-timing-function: ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  line-height: 1.3;
  background-color: $white;
  font-family: "Nunito", sans-serif;
}
